body {

    background-color: aqua;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;

}

h1 {

    text-align: center;

}



.task-pointer {

    cursor: pointer;

}

.completed-task {

    text-decoration: line-through;

}


button {

  border: 0;
  cursor: pointer;
  font-size: 18px;
  outline: 0;

}

.container {

    padding-top: 10px;
    width: 400px;

}

.tasks {

    background: white;
    padding: 3px 10px;
    font-size: 1.0rem;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.tasks button {

    color: grey;

}




input {

    background: white;
    padding: 7px 10px;
    font-size: 1rem;
    color: black;
    outline: 0;
    border: 0;
    flex: 1;

}

form {

    display: flex;
    padding-top: 10px;


}

form button {

    display: flex;
    background: rgb(255, 255, 255);
    outline: 0;
    padding: 0 15px;

}